* {
 box-sizing: border-box;
}


body {
font-size: 18px;
}

h6 {
color: black;
font-size: 54px;

}


#info{
	border: red solid 5px;
	color: red;
	margin: 25px;
	background-image: url(../images/cbap.jpg);
	background-repeat: no-repeat;
    background-position: right;
    background-size:100% 100%; 

}


.mainImage {
	background-image: url(../images/cb.jpg );
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    color: red;
    font-size: 50PX;
    border: red solid 5px;
    text-align: center;

	
} 

body {
	background-image: url(../images/ap.jpg);
    z-index: -1;
    opacity: 0.95;
    background-position: center center;
}

.instructionPicture {

	background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size:100% 100%; 
    color: white;

